In [2]:
import pandas as pd

Native accessors

Native Python objects provide good ways of indexing data. Pandas carries all of these over, which helps make it easy to start with

In [3]:
employment_data = pd.read_csv('business-employment-data.csv')

In Python, we can access the property of an object by accessing it as an attribute. Columns in a pandas DataFrame work in much the same way.

In [4]:
employment_data.Period

0        2011.06
1        2011.09
2        2011.12
3        2012.03
4        2012.06
          ...
24119    2017.06
24120    2017.09
24121    2017.12
24122    2018.03
24123    2018.06
Name: Period, Length: 24124, dtype: float64

If we have a Python dictionary, we can access its values using the indexing ([]) operator. We can do the same with columns in a DataFrame:

In [6]:
employment_data['Period']

0        2011.06
1        2011.09
2        2011.12
3        2012.03
4        2012.06
          ...
24119    2017.06
24120    2017.09
24121    2017.12
24122    2018.03
24123    2018.06
Name: Period, Length: 24124, dtype: float64

To drill down to a single specific value, we need only use the indexing operator [] once more

In [7]:
employment_data['Period'][2]

np.float64(2011.12)

Indexing in pandas

The indexing operator and attribute selection are nice because they work just like they do in the rest of the Python ecosystem. As a novice, this makes them easy to pick up and use. However, pandas has its own accessor operators, loc and iloc

Index-based selection

Pandas indexing works in one of two paradigms. The first is index-based selection: selecting data based on its numerical position in the data. iloc follows this paradigm.

In [9]:
#To select the first row of data in a DataFrame
employment_data.iloc[0]

Series_reference                          BDCQ.SEA1AA
Period                                        2011.06
Data_value                                    80078.0
Suppressed                                        NaN
STATUS                                              F
UNITS                                          Number
Magnitude                                           0
Subject                Business Data Collection - BDC
Group                 Industry by employment variable
Series_title_1                            Filled jobs
Series_title_2      Agriculture, Forestry and Fishing
Series_title_3                                 Actual
Series_title_4                                    NaN
Series_title_5                                    NaN
Name: 0, dtype: object

In [10]:
#To get a column with iloc, we can do the following
employment_data.iloc[:,0]

0          BDCQ.SEA1AA
1          BDCQ.SEA1AA
2          BDCQ.SEA1AA
3          BDCQ.SEA1AA
4          BDCQ.SEA1AA
             ...
24119    BDCQ.SEE3999A
24120    BDCQ.SEE3999A
24121    BDCQ.SEE3999A
24122    BDCQ.SEE3999A
24123    BDCQ.SEE3999A
Name: Series_reference, Length: 24124, dtype: object

Label-based selection

The second paradigm for attribute selection is the one followed by the loc operator: label-based selection. In this paradigm, it's the data index value, not its position, which matters.

In [18]:
employment_data.loc[0, 'Subject']

'Business Data Collection - BDC'

In [22]:
employment_data.Period.describe()

count    24124.000000
mean      2017.456557
std          3.905518
min       2011.060000
25%       2014.090000
50%       2017.120000
75%       2021.030000
max       2024.120000
Name: Period, dtype: float64

In [23]:
employment_data.Period.mean()

np.float64(2017.4565565412038)

In [24]:
employment_data.Period.unique()

array([2011.06, 2011.09, 2011.12, 2012.03, 2012.06, 2012.09, 2012.12,
       2013.03, 2013.06, 2013.09, 2013.12, 2014.03, 2014.06, 2014.09,
       2014.12, 2015.03, 2015.06, 2015.09, 2015.12, 2016.03, 2016.06,
       2016.09, 2016.12, 2017.03, 2017.06, 2017.09, 2017.12, 2018.03,
       2018.06, 2018.09, 2018.12, 2019.03, 2019.06, 2019.09, 2019.12,
       2020.03, 2020.06, 2020.09, 2020.12, 2021.03, 2021.06, 2021.09,
       2021.12, 2022.03, 2022.06, 2022.09, 2022.12, 2023.03, 2023.06,
       2023.09, 2023.12, 2024.03, 2024.06, 2024.09, 2024.12])

In [25]:
employment_data.Period.value_counts()

Period
2012.09    462
2011.06    460
2015.06    460
2018.06    460
2011.09    460
2017.12    460
2017.09    460
2017.06    460
2017.03    460
2016.12    460
2016.09    460
2016.06    460
2016.03    460
2015.12    460
2015.09    460
2018.03    460
2015.03    460
2013.06    460
2011.12    460
2012.03    460
2012.06    460
2012.12    460
2013.03    460
2013.09    460
2013.12    460
2014.03    460
2014.06    460
2014.09    460
2014.12    460
2019.12    459
2020.12    459
2020.09    459
2020.06    459
2020.03    459
2019.09    459
2019.03    459
2018.12    459
2018.09    459
2019.06    459
2023.03    387
2024.09    387
2024.06    387
2024.03    387
2023.12    387
2023.09    387
2023.06    387
2022.06    387
2022.12    387
2022.09    387
2022.03    387
2021.12    387
2021.09    387
2021.06    387
2021.03    387
2024.12    387
Name: count, dtype: int64